<% @posts.each do |post| %>
<!-- Rails is smart enough to know that if you pass in the post object as an argument, it will automatically use the ID attribute -->
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>